html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
.robot {
  position: relative;
}
img {
  display: block;
}
.body {
  width: 320px;
  position: relative;
  top: 2.2em;
  padding: 35px;
  margin: 0;
}
.brain {
  width: 46px;
  position: absolute;
}
.head-left {
  width: 125px;
  position: absolute;
}
.head-right {
  width: 125px;
  position: absolute;
}
.background {
  background-color: #2c3950;
}
body {
  margin: 0;
}
h1 {
  font-family: 'Contrail One', cursive;
  color: #fff;
  background-color: #1a2230;
}
